.xButton {
  position: absolute;
  opacity: 1;
  background: transparent;
  border: none;
  border-radius: 50%;
  color: white;
  right: 5px;
  top: 5px;
  z-index: 100;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
  transform: rotateZ(45deg);
  &:focus {
    outline: none;
  }
}
